.feature-list-aduan {
  border-radius: 1.25rem;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 10px 30px rgba(21, 29, 78, 0.08);
  max-height: 650px;
  overflow-y: scroll;
}

.feature-item-aduan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  border-bottom: 1px solid #eef0f6;
  text-decoration: none;
  color: #1c2434;
  background: #fff;
  cursor: pointer;
}

.feature-item-aduan:last-child {
  border-bottom: none;
}

.fx-road-aduan {
  background: linear-gradient(135deg, #ff7878, #ff3737);
}
.fx-plant-aduan {
  background: linear-gradient(135deg, #ff7878, #ff3737);
}
.fx-people-aduan {
  background: linear-gradient(135deg, #ff7878, #ff3737);
}
.fx-border-aduan {
  background: linear-gradient(135deg, #ff7878, #ff3737);
}

.bg-aduan{
  background: white;
  border: none !important;
}

.btn-aduan {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #6b6ed4 !important;
  --bs-btn-border-color: #6b6ed4 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #5a5fcf !important;
  --bs-btn-hover-border-color: #5558c9 !important;
  --bs-btn-focus-shadow-rgb: 107, 117, 212 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #5558c9 !important;
  --bs-btn-active-border-color: #4f51c3 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #6b6ed4 !important;
  --bs-btn-disabled-border-color: #6b6ed4 !important;
  --bs-btn-border-radius: 20px !important;
}